{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scaler Discord Server</title>
    <meta name="description" content="Website for Scaler Discord Server">
    <meta name="keywords" content="Scaler, Discord, Community, Best Community">
    <link rel="shortcut icon" href="{%static 'images/logo.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Oleo+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body id="main">
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class='different'>Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about"><span class='different'>About</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team"><span class='different'>Team</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#leaderboard"><span class='different'>Leaderboard</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#events"><span class='different'>Events</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link joinus" href="https://discord.gg/scaler" target="_blank">Join Us</a>
                </li>
            </ul>
        </div>
    </nav>
    <section id="home">
        <div class="intro d-flex justify-content-center">
                <div data-aos="fade-up">
                    <img src="{% static 'images/logo.png' %}" width="100px">
                </div>
                <div data-aos="fade-left" style="padding-left: 30px;">
                    <p class="title">Scaler Discord Community</p>
                    <p class="sub-title">Leap Forward in Tech</p><br> 
                </div>
        </div>
        <br>
        <div class="mouse_scroll" onclick="window.location.href='#about'">
            <div class="mouse" >
                <div class="wheel"></div>
            </div>
            <div>
                <span class="m_scroll_arrows unu"></span>
                <span class="m_scroll_arrows doi"></span>
                <span class="m_scroll_arrows trei"></span>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container about-intro d-flex justify-content-start">
            <br><br>
            <div data-aos="fade-left" style="padding-left: 30px;">
                <p class="title">About Scaler</p>
                <p class="sub-title">&emsp;&emsp;Backed by marquee global investors like Sequoia Capital and Tiger Global, Scaler is India's top ed-tech startup focused on upskilling college learners and tech professionals and creating the finest software engineers in the country.<br ><br > InterviewBit and Scaler are edtech platforms that aim to fix and bridge the gap between what the ever-evolving tech industry currently wants and what college education is able to provide. We want to create an ecosystem that nurtures and supports talent to transform the world as we know it. InterviewBit offers an easy-to-use platform for everyone to brush up before interviews of top tech companies, while Scaler is a virtual university that helps one become a stellar software engineer. Courses at Scaler have CTO-curated curriculums, 1:1 mentorship from industry professionals and the flexibility to scale at one’s own pace.</p><br><br>
                <p class="title">Scaler Discord Server</p>
                <p class="sub-title">Our Discord Server community create a vibrant space where you could network and chat with other like-minded tech folks with the freedom to learn tech and chill, all under one space. </p><br><br>
            </div>
        </div>
        <div data-aos="zoom-in"><a href="https://discord.gg/scaler" target="_blank" class="container d-flex justify-content-center join">Interested, Join Us</a></div>
    </section>
    <section id="team">
        <div class="container about-intro">
            <div data-aos="fade-left">
                <p class="title align-center">Our Community Team</p><br ><br >
            </div>
            <div data-aos="zoom-in">
                <p class="title">Team Scaler</p><br ><br >
            </div>
                <div class="row">
                    {%for item in admin%}
                    <div class="col-sm-6">
                        <div class="row">
                            <div data-aos="zoom-in" class="col-md-6 align-right">
                                <img src="{{item.image.url}}" class="border-radius-50" width="150px" height="150px" alt="">
                            </div>
                            <div data-aos="fade-left" class="col-md-6">
                                <p class="team-name">{{item.name}}</p>
                                <p class="team-designation">Community Manager</p> 
                                <div class="col-sm">
                                    <a href="{{item.github}}"><i class="fa fa-github"></i></a>&emsp;
                                    <a href="{{item.facebook}}"><i class="fa fa-facebook"></i></a>&emsp;
                                    <a href="{{item.instagram}}"><i class="fa fa-instagram"></i></a>&emsp;
                                    <a href="{{item.linkedin}}"><i class="fa fa-linkedin"></i></a>&emsp;
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>
                    {%endfor%}
                </div>
            <br>
            <div data-aos="zoom-in">
                <p class="title">Scaler MegaStars</p><br ><br >
            </div>
                <div class="row">
                    {%for item in megastar%}
                    <div class="col-sm-6">
                        <div class="row">
                            <div data-aos="zoom-in" class="col-md-6 align-right">
                                <img src="{{item.image.url}}" class="border-radius-50" width="150px" height="150px" alt="">
                            </div>
                            <div data-aos="fade-left" class="col-md-6">
                                <p class="team-name">{{item.name}}</p>
                                <p class="team-designation">Scaler MegaStar</p> 
                                <div class="col-sm">
                                    <a href="{{item.github}}"><i class="fa fa-github"></i></a>&emsp;
                                    <a href="{{item.facebook}}"><i class="fa fa-facebook"></i></a>&emsp;
                                    <a href="{{item.instagram}}"><i class="fa fa-instagram"></i></a>&emsp;
                                    <a href="{{item.linkedin}}"><i class="fa fa-linkedin"></i></a>&emsp;
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>
                    {%endfor%}
                </div>
            <br>
            <div data-aos="zoom-in">
                <p class="title">Scaler Superstars</p><br ><br >
            </div>
                <div class="row">
                    {%for item in superstar%}
                    <div class="col-sm-6">
                        <div class="row">
                            <div data-aos="zoom-in" class="col-md-6 align-right">
                                <img src="{{item.image.url}}" class="border-radius-50" width="150px" height="150px" alt="">
                            </div>
                            <div data-aos="fade-left" class="col-md-6">
                                <p class="team-name">{{item.name}}</p>
                                <p class="team-designation">Community Manager</p> 
                                <div class="col-sm">
                                    <a href="{{item.github}}"><i class="fa fa-github"></i></a>&emsp;
                                    <a href="{{item.facebook}}"><i class="fa fa-facebook"></i></a>&emsp;
                                    <a href="{{item.instagram}}"><i class="fa fa-instagram"></i></a>&emsp;
                                    <a href="{{item.linkedin}}"><i class="fa fa-linkedin"></i></a>&emsp;
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>
                    {%endfor%}
                </div>
            <br>
            <div data-aos="zoom-in">
                <p class="title">Scaler Stars</p><br ><br >
            </div>
                <div class="row">
                    {%for item in star%}
                    <div class="col-sm-6">
                        <div class="row">
                            <div data-aos="zoom-in" class="col-md-6 align-right">
                                <img src="{{item.image.url}}" class="border-radius-50" width="150px" height="150px" alt="">
                            </div>
                            <div data-aos="fade-left" class="col-md-6">
                                <p class="team-name">{{item.name}}</p>
                                <p class="team-designation">Community Manager</p> 
                                <div class="col-sm">
                                    <a href="{{item.github}}"><i class="fa fa-github"></i></a>&emsp;
                                    <a href="{{item.facebook}}"><i class="fa fa-facebook"></i></a>&emsp;
                                    <a href="{{item.instagram}}"><i class="fa fa-instagram"></i></a>&emsp;
                                    <a href="{{item.linkedin}}"><i class="fa fa-linkedin"></i></a>&emsp;
                                </div>
                            </div>
                        </div>
                        <br><br>
                    </div>
                    {%endfor%}
                </div>
            <br>
        </div>
    </section>
    <section id="leaderboard">
        <div class="container about-intro">
            <div data-aos="fade-left">
                <p class="title align-center">Leaderboard</p><br ><br >
                <div class="row">
                    <div class="col-sm-6">
                        <p class="sub-title align-center">Build Project Winners</p>
                        <div data-aos="zoom-in">
                            <table class="table bg-transparent">
                                <tr>
                                    <th>S.No</th>
                                    <th>Discord Name</th>
                                </tr>
                                {%for item in build%}
                                <tr>
                                    <td>{{item.rank}}</td>
                                    <td>{{item.name}}</td>
                                </tr>
                                {%endfor%}
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p class="sub-title align-center">Daily Activity Winners</p>
                        <div data-aos="zoom-in">
                            <table class="table bg-transparent">
                                <tr>
                                    <th>Rank</th>
                                    <th>Discord Name</th>
                                    <th>Category</th>
                                </tr>
                                {%for item in activity%}
                                <tr>
                                    <td>{{item.rank}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.activity}}</td>
                                </tr>
                                {%endfor%}
                            </table>
                        </div>
                    </div>
                </div>
                <br><br>
                <p data-aos="fade-right" class="title align-center">Star of the Week</p><br ><br >
                {%for item in starofweek%}
                <div data-aos="fade-left" class="row">
                    <div class="col-sm-3">
                        <img src="{{item.photo.url}}" width="200px" height="200px" class="border-radius-50" alt="user"><br><br>
                        <p class="sub-title align-center">{{item.name}}</p>
                    </div>
                    <div class="col-sm-9">
                        {{item.testimonial}}
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
    <section id="events">
        <p data-aos="zoom-in" class="title align-center">Upcoming Events</p><br ><br >
        <div class="container">
            <div class="row">
                {%for item in event%}
                <div data-aos="fade-left" class="col-sm-4">
                    <div class="card bg-transparent" style="width: 18rem;">
                        <img class="card-img-top" src="{{item.image.url}}" alt="eventcard">
                        <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p><br>
                        <a href="{{item.rsvp}}" class="event-join">RSVP IN</a>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
    <div class="text-center">
        <p class="footer">Made with &#9829; by Scaler Discord Team</p><br>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>  
</body>
<script src="{% static 'js/three.min.js' %}"></script>
<script src="{% static 'js/vanta.net.min.js' %}"></script>
<script>
VANTA.NET({
  el: "#main",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  maxDistance: 19.00,
  spacing: 17.00
})
</script>
</html>